.container {
    width: 1205px;
    height: 520px;
    background-color: rgb(189, 178, 178);
    margin-left: 200px;
}

.enlaces{
    background-color: rgb(16, 255, 16);
    height: 58px;
    width: 25%;
    float: left;
    margin-right: 40px;
}

.parrafo{
    background-color: yellow;
    height: 335px;
    width: 625px;
    float: left;
    margin-right: 30px;
}
  
h3 {
    margin-top: -1px;
    font-size: 22px;
}
  
.parrafo img{
    float: right;
    margin-top: -265px;
}
  
.parrafo-1{
    background-color: rgb(100, 95, 95);
    width: 17%;
    float: right;
}
  
@media screen and (max-width: 768px){
    body{
        margin-top: -13px;
        margin-left: -190px;
    }
    
    .container.edit{
        width: 79%;
        height: 510px;
    }
    
    .enlaces.nuevo{
        width: 14%;
        margin-right: 20px;
    }
    
    .parrafo.edit1{
        margin-left: 120px;
        margin-top: -57px;
    }
    
    .parrafo-1.edit1{
        margin-right: 6px;
        width: 625px;
    }
}

@media screen and (max-width: 420px){
    .container.edit.pro{
        width: 67%;
        height: 600px;
    }
    
    .enlaces.nuevo.pro{
        width: 100%;
        margin-bottom: 60px
    }
    
    .parrafo.edit1.pro{
        margin-top: -60px;
        margin-left: -1px;
        padding-left: 1px;
        width: 100%;
    }
    
    .parrafo-1.edit1.related{
        margin-top: 13px;
        margin-right: 1px;
        width: 99.5%;
    }
    
    img{
        display: none;
    }
}